<a href="https://colab.research.google.com/github/naga-sk/DataScienceTraining/blob/main/Pandas_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Please read the below questions and do following operations as appropriate. Feel free to Google the functions or “?” operator (after any function) to see the documentation in Jupyter notebook

1.	Read the demand transaction file and print the first 15 rows and dtypes

In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/Demand_txn_updated.csv'
df = pd.read_csv(url)
df.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

In [2]:
df.head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.05,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52

2.	Convert the transaction date column to a date column using pd.to_datetime function

In [8]:
print("Before : ",df['Transaction_Date'])
df['Transaction_Date'] = df['Transaction_Date'].apply(pd.to_datetime)
print("After : ",df['Transaction_Date'])

Before :  0        7/31/2018
1        7/31/2018
2        7/31/2018
3        7/31/2018
4        7/31/2018
           ...
30226     8/1/2016
30227     8/1/2016
30228     8/1/2016
30229     8/1/2016
30230     8/1/2016
Name: Transaction_Date, Length: 30231, dtype: object
After :  0       2018-07-31
1       2018-07-31
2       2018-07-31
3       2018-07-31
4       2018-07-31
           ...
30226   2016-08-01
30227   2016-08-01
30228   2016-08-01
30229   2016-08-01
30230   2016-08-01
Name: Transaction_Date, Length: 30231, dtype: datetime64[ns]

3.	Subset the dataframe for transaction date greater than '2016-08-01'

In [14]:
td_subset = df.loc[df['Transaction_Date'] > '2016-08-01']
td_subset[{"City", "Transaction_Date", "Quantity_Sold", "Median_Price"}]

      Transaction_Date       City  Quantity_Sold  Median_Price
0           2018-07-31  Hyderabad            167        187.00
1           2018-07-31  Hyderabad            368        602.00
2           2018-07-31  Hyderabad            694        263.00
3           2018-07-31  Hyderabad            140        263.00
4           2018-07-31  Hyderabad            139        392.00
...                ...        ...            ...           ...
30187       2016-08-02     Mumbai            519        300.00
30188       2016-08-02     Mumbai            369        238.85
30189       2016-08-02     Mumbai            234        510.00
30190       2016-08-02     Mumbai            145        227.00
30191       2016-08-02     Mumbai            216        658.00

[30192 rows x 4 columns]

4.	Look for unique values in Mapped_Sales_Type

In [9]:
print(df['Mapped_Sales_Type'].unique())

['Take Away' 'Main Hall' 'Express' 'Delivery' 'Dine-in' 'Bakery']

5.	Subset the entire dataframe, based on the below condition, to a new dataframe and work on the following questions
* a.	Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0
* b.	Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [15]:
adipodi_subset = df.loc[df['Avg_Discount_Percent_On_Discounted_Items']<1.0]
adipodi_subset[{"City", "Transaction_Date", "Quantity_Sold", "Median_Price", 'Avg_Discount_Percent_On_Discounted_Items'}]

,Quantity_Sold,Avg_Discount_Percent_On_Discounted_Items,City,Transaction_Date,Median_Price
5,617,0.105020,Hyderabad,2018-07-31,322.0
10,144,0.105006,Hyderabad,2018-07-31,942.0
20,1250,0.105008,Hyderabad,2018-07-31,392.0
24,1934,0.420000,Hyderabad,2018-07-31,362.0
26,148,0.105009,Hyderabad,2018-07-31,622.0
...,...,...,...,...,...
30198,1290,0.820589,Mumbai,2016-08-01,230.0
30201,213,0.120502,Mumbai,2016-08-01,989.0
30212,534,0.502083,Mumbai,2016-08-01,273.0
30213,1410,0.120492,Mumbai,2016-08-01,317.0
30226,615,0.883279,Mumbai,2016-08-01,239.0

6.	Groupby 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date' and perform following aggregate operations on respective columns as mentioned (note: Only one groupby to do all the below aggregations)
* a.	Quantity_Sold – sum
* b.	Median_Price – median
* c.	Effective_Price – median

In [16]:
df.groupby(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date']).agg({'Quantity_Sold':'sum','Median_Price':'median','Effective_Price':'median'})

                                                             Quantity_Sold  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05                  110
                          9978             2018-01-22                  105
        Delivery          4055             2017-08-04                  377
                                           2017-08-05                  377
                                           2017-08-06                  638
...                                                                    ...
Mumbai  Take Away         4068             2017-01-09                  200
                                           2017-01-10                  199
                                           2017-01-11                  239
                                           2017-01-12                  233
                                           2017-01-13                  273

                                                             Median_Price  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05               223.0
                          9978             2018-01-22               178.0
        Delivery          4055             2017-08-04               260.0
                                           2017-08-05               260.0
                                           2017-08-06               260.0
...                                                                   ...
Mumbai  Take Away         4068             2017-01-09               405.0
                                           2017-01-10               405.0
                                           2017-01-11               405.0
                                           2017-01-12               405.0
                                           2017-01-13               405.0

                                                             Effective_Price
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05             221.000000
                          9978             2018-01-22             154.250000
        Delivery          4055             2017-08-04             264.113759
                                           2017-08-05             264.138571
                                           2017-08-06             264.223814
...                                                                      ...
Mumbai  Take Away         4068             2017-01-09             424.140000
                                           2017-01-10             424.140000
                                           2017-01-11             424.140000
                                           2017-01-12             424.140000
                                           2017-01-13             423.201358

[30231 rows x 3 columns]

7.	Display the data for Effective_Price = not null and just print the last 5 rows (hint: use .notnull function)

In [34]:
df[{"City", "Transaction_Date", "Effective_Price"}].loc[df['Effective_Price'].notnull()]

      Transaction_Date       City  Effective_Price
0           2018-07-31  Hyderabad       163.700000
1           2018-07-31  Hyderabad       584.329105
2           2018-07-31  Hyderabad       244.835163
3           2018-07-31  Hyderabad       243.500000
4           2018-07-31  Hyderabad       378.960000
...                ...        ...              ...
30226       2016-08-01     Mumbai       232.033552
30227       2016-08-01     Mumbai       202.575840
30228       2016-08-01     Mumbai      1063.855517
30229       2016-08-01     Mumbai       534.060000
30230       2016-08-01     Mumbai       780.810000

[30229 rows x 3 columns]

8.	Display the data for city = Chennai AND Mapped_Sales_Type = Delivery and print top 5 records (hint use loc function to subset, then “&” operator to filter both the above cities)

In [33]:
df[{"City", "Transaction_Date", "Mapped_Sales_Type"}].loc[(df['City'] == 'Chennai') & (df['Mapped_Sales_Type'] == 'Delivery')]

      Mapped_Sales_Type Transaction_Date     City
8379           Delivery       2018-02-05  Chennai
8384           Delivery       2018-02-05  Chennai
8387           Delivery       2018-02-05  Chennai
8388           Delivery       2018-02-05  Chennai
8392           Delivery       2018-02-05  Chennai
...                 ...              ...      ...
16606          Delivery       2017-08-04  Chennai
16609          Delivery       2017-08-04  Chennai
16611          Delivery       2017-08-04  Chennai
16612          Delivery       2017-08-04  Chennai
16614          Delivery       2017-08-04  Chennai

[2395 rows x 3 columns]

9.	 Display the data for the column “Day” with values Mon, Tue and Wed (hint: use .isin function)

In [28]:
df[{"Day","City", "Transaction_Date"}].loc[df['Day'].isin(["Mon","Tue","Wed"])]

      Transaction_Date       City  Day
0           2018-07-31  Hyderabad  Tue
1           2018-07-31  Hyderabad  Tue
2           2018-07-31  Hyderabad  Tue
3           2018-07-31  Hyderabad  Tue
4           2018-07-31  Hyderabad  Tue
...                ...        ...  ...
30226       2016-08-01     Mumbai  Mon
30227       2016-08-01     Mumbai  Mon
30228       2016-08-01     Mumbai  Mon
30229       2016-08-01     Mumbai  Mon
30230       2016-08-01     Mumbai  Mon

[12996 rows x 3 columns]

10.	Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

In [24]:
df[{"Quantity_Sold", "Median_Price", 'Percent_Quantity_With_Discount'}].loc[(df['Percent_Quantity_With_Discount'] != 0.0)]

       Percent_Quantity_With_Discount  Quantity_Sold  Median_Price
0                            0.098011            167         187.0
1                            0.027237            368         602.0
2                            0.098011            694         263.0
3                            0.098011            140         263.0
4                            0.098011            139         392.0
...                               ...            ...           ...
30226                        0.013889            615         239.0
30227                        0.009338           1289         212.8
30228                        0.098011            140         933.0
30229                        0.098011            179         501.0
30230                        0.098011            117         716.5

[30224 rows x 3 columns]

11.	Add a column “Range” to the existing dataframe for below condition
* a.	1 for Effective_Price > 500
* b.	0.5 otherwise

In [19]:
range_column = []
for i in df['Effective_Price']:
  if i>500: range_column.append(1)
  else: range_column.append(0.5)
df['Range'] = range_column
print(df[{'Effective_Price','Range'}])

       Effective_Price  Range
0           163.700000    0.5
1           584.329105    1.0
2           244.835163    0.5
3           243.500000    0.5
4           378.960000    0.5
...                ...    ...
30226       232.033552    0.5
30227       202.575840    0.5
30228      1063.855517    1.0
30229       534.060000    1.0
30230       780.810000    1.0

[30231 rows x 2 columns]

In [ ]:
#Another method to directly insert values

12.	Read the demand transaction file again and perform following operations for practice
* a.	Handle the missing values in the column 
* b. Percent_Quantity_With_Discount with strategy = mean

In [17]:
df['Percent_Quantity_With_Discount'].fillna(df['Percent_Quantity_With_Discount'].mean(), inplace=True)
print(df['Percent_Quantity_With_Discount'])

0        0.098011
1        0.027237
2        0.098011
3        0.098011
4        0.098011
           ...
30226    0.013889
30227    0.009338
30228    0.098011
30229    0.098011
30230    0.098011
Name: Percent_Quantity_With_Discount, Length: 30231, dtype: float64