<a href="https://colab.research.google.com/github/naga-sk/DataScienceTraining/blob/main/Pandas_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Please read the below questions and do following operations as appropriate. Feel free to Google the functions or “?” operator (after any function) to see the documentation in Jupyter notebook

1.	Read the demand transaction file and print the first 15 rows and dtypes

2.	Convert the transaction date column to a date column using pd.to_datetime function

3.	Subset the dataframe for transaction date greater than '2016-08-01'

4.	Look for unique values in Mapped_Sales_Type

5.	Subset the entire dataframe, based on the below condition, to a new dataframe and work on the following questions
a.	Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0
b.	Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

6.	Groupby 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date' and perform following aggregate operations on respective columns as mentioned (note: Only one groupby to do all the below aggregations)
a.	Quantity_Sold – sum
b.	Median_Price – median
c.	Effective_Price – median

7.	Display the data for Effective_Price = not null and just print the last 5 rows (hint: use .notnull function)

8.	Display the data for city = Chennai AND Mapped_Sales_Type = Delivery and print top 5 records (hint use loc function to subset, then “&” operator to filter both the above cities)

9.	 Display the data for the column “Day” with values Mon, Tue and Wed (hint: use .isin function)

10.	Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

11.	Add a column “Range” to the existing dataframe for below condition
a.	1 for Effective_Price > 500
b.	0.5 otherwise

12.	Read the demand transaction file again and perform following operations for practice
a.	Handle the missing values in the column Percent_Quantity_With_Discount with strategy = mean